/* Global Styles for SWMS Manager */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Risk color classes */
.bg-red-600 {
  background-color: #dc2626 !important;
}

.bg-orange-500 {
  background-color: #f97316 !important;
}

.bg-yellow-500 {
  background-color: #eab308 !important;
}

.bg-green-500 {
  background-color: #22c55e !important;
}

/* Utility classes */
.no-print {
  @media print {
    display: none !important;
  }
}
